{% extends 'app.html' %}
{% load static %}
{% block 'title' %} Home {% endblock %}
{% block 'content' %}
<div class="page-container">
    <!-- Content Wrapper START -->
    <div class="main-content">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        <div class="container">
            <div class="card">
                <div class="card-body" >
                    <div class="row">
                        <div class="col-md-2">
                            <div class="text-center text-sm-left ">
                                <div class="avatar avatar-image" style="width: 150px; height:150px">
                                    <img src="assets/images/avatars/thumb-3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-6 text-center text-sm-left pt-sm-5 mt-sm-2" >
                                        <h2 class="m-b-5">{{ profile.first_name }} {{ profile.last_name }}</h2>
                                        <p class="text-opacity font-size-13">@{{ profile.username }}</p>
                                </div>
                                <div class="col-md-6 text-center text-sm-right pt-sm-5 mt-sm-5">
                                        {% if user.username == profile.username  %}
                                        <a class="btn btn-primary btn-tone">Edit profile</a>
                                        {% else %}
                                        <a class="btn btn-primary btn-tone"><i class="anticon anticon-message"></i></a>
                                        <a class="btn btn-primary btn-tone"><i class="anticon anticon-user-add"></i></a>
                                        <a class="btn btn-primary btn-tone"><i class="anticon anticon-follow"></i></a>
                                        {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row m-v-15">
                        <div class="col-md-6">
                            <h5>Bio</h5>
                            <p>{{ profile.profile.bio }}</p>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstyled m-t-10">
                                <li class="row">
                                    <p class="col-sm-4 col-4 font-weight-semibold text-dark m-b-5">
                                        <i class="m-r-10 text-primary anticon anticon-mail"></i>
                                        <span>Email: </span> 
                                    </p>
                                    <p class="col font-weight-semibold"> {{ profile.email }}</p>
                                </li>
                                <li class="row">
                                    <p class="col-sm-4 col-4 font-weight-semibold text-dark m-b-5">
                                        <i class="m-r-10 text-primary anticon anticon-phone"></i>
                                        <span>Phone: </span> 
                                    </p>
                                    <p class="col font-weight-semibold"> {{ profile.profile.phone }}</p>
                                </li>
                                <li class="row">
                                    <p class="col-sm-4 col-5 font-weight-semibold text-dark m-b-5">
                                        <i class="m-r-10 text-primary anticon anticon-compass"></i>
                                        <span>Location: </span> 
                                    </p>
                                    <p class="col font-weight-semibold"> {{ profile.profile.address }}</p>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col">
                                    <div class="d-flex font-size-22 m-t-15">
                                        <a href="#" class="text-gray p-r-20">
                                            <i class="anticon anticon-facebook"></i>
                                        </a>        
                                        <a href="#" class="text-gray p-r-20">    
                                            <i class="anticon anticon-twitter"></i>
                                        </a>
                                        <a href="#" class="text-gray p-r-20">
                                            <i class="anticon anticon-behance"></i>
                                        </a> 
                                        <a href="#" class="text-gray p-r-20">   
                                            <i class="anticon anticon-dribbble"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5>Reviews (18)</h5>
                    <div class="m-t-20">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-h-0">
                                <div class="media m-b-15">
                                    <div class="avatar avatar-image">
                                        <img src="assets/images/avatars/thumb-8.jpg" alt="">
                                    </div>
                                    <div class="media-body m-l-20">
                                        <h6 class="m-b-0">
                                            <a href="#" class="text-dark">Lillian Stone</a>
                                        </h6>
                                        <span class="font-size-13 text-gray">28th Jul 2018</span>
                                    </div>
                                </div>
                                <span>The palatable sensation we lovingly refer to as The Cheeseburger has a distinguished and illustrious history. It was born from humble roots, only to rise to well-seasoned greatness.</span>
                                <div class="star-rating m-t-15">
                                    <input type="radio" id="star1-5" name="rating-1" value="5" checked disabled/><label for="star1-5" title="5 star"></label>
                                    <input type="radio" id="star1-4" name="rating-1" value="4" disabled/><label for="star1-4" title="4 star"></label>
                                    <input type="radio" id="star1-3" name="rating-1" value="3" disabled/><label for="star1-3" title="3 star"></label>
                                    <input type="radio" id="star1-2" name="rating-1" value="2" disabled/><label for="star1-2" title="2 star"></label>
                                    <input type="radio" id="star1-1" name="rating-1" value="1" disabled/><label for="star1-1" title="1 star"></label>
                                </div>
                            </li>
                            <li class="list-group-item p-h-0">
                                <div class="media m-b-15">
                                    <div class="avatar avatar-image">
                                        <img src="assets/images/avatars/thumb-9.jpg" alt="">
                                    </div>
                                    <div class="media-body m-l-20">
                                        <h6 class="m-b-0">
                                            <a href="#" class="text-dark">Victor Terry</a>
                                        </h6>
                                        <span class="font-size-13 text-gray">28th Jul 2018</span>
                                    </div>
                                </div>
                                <span>The palatable sensation we lovingly refer to as The Cheeseburger has a distinguished and illustrious history. It was born from humble roots, only to rise to well-seasoned greatness.</span>
                                <div class="star-rating m-t-15">
                                    <input type="radio" id="star2-5" name="rating-2" value="5" disabled/><label for="star2-5" title="5 star"></label>
                                    <input type="radio" id="star2-4" name="rating-2" value="4" checked disabled/><label for="star2-4" title="4 star"></label>
                                    <input type="radio" id="star2-3" name="rating-2" value="3" disabled/><label for="star2-3" title="3 star"></label>
                                    <input type="radio" id="star2-2" name="rating-2" value="2" disabled/><label for="star2-2" title="2 star"></label>
                                    <input type="radio" id="star2-1" name="rating-2" value="1" disabled/><label for="star2-1" title="1 star"></label>
                                </div>
                            </li>
                            <li class="list-group-item p-h-0">
                                <div class="media m-b-15">
                                    <div class="avatar avatar-image">
                                        <img src="assets/images/avatars/thumb-10.jpg" alt="">
                                    </div>
                                    <div class="media-body m-l-20">
                                        <h6 class="m-b-0">
                                            <a href="#" class="text-dark">Wilma Young</a>
                                        </h6>
                                        <span class="font-size-13 text-gray">28th Jul 2018</span>
                                    </div>
                                </div>
                                <span>The palatable sensation we lovingly refer to as The Cheeseburger has a distinguished and illustrious history. It was born from humble roots, only to rise to well-seasoned greatness.</span>
                                <div class="star-rating m-t-15">
                                    <input type="radio" id="star3-5" name="rating-3" value="5" checked disabled/><label for="star3-5" title="5 star"></label>
                                    <input type="radio" id="star3-4" name="rating-3" value="4" disabled/><label for="star3-4" title="4 star"></label>
                                    <input type="radio" id="star3-3" name="rating-3" value="3" disabled/><label for="star3-3" title="3 star"></label>
                                    <input type="radio" id="star3-2" name="rating-3" value="2" disabled/><label for="star3-2" title="2 star"></label>
                                    <input type="radio" id="star3-1" name="rating-3" value="1" disabled/><label for="star3-1" title="1 star"></label>
                                </div>
                            </li>
                        </ul> 
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <!-- Content Wrapper END -->
</div>
{% endblock %}
{% block 'custom-js' %}
<!-- <script src="{% static 'js/custom.js' %}"></script> -->
{% endblock %}